body {
      padding-top: 3.5rem;

  }
.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
img{
  padding: 10px;
}
img:hover {
  box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}
nav{

}
@media (min-width: 768px) {
.navbar-brand{

    background-color:#00cccc;margin-left: 100px;font-weight:bold;color:white;
  }
}
@media (max-width: 991.98px){

.navbar-brand{

  background-color:#00cccc;margin-left: 100px;font-weight:bold;color:white;
}
}
